/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #0065fc;
  --light-main-color: #deebff;
  --dark-bg-color: #d9d9d9;
  --light-bg-color: #f2f2f2;

  --font-size-xl: 22px;
  --font-size-l: 18px;
  --font-size-ml: 17px;
  --font-size-m: 16px;
  --font-size-s: 14px;
}

.fa-solid {
  color: var(--main-color);
}

body {
  /* display: flex;
  justify-content: center; */
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  /* centrer le contenu ainsi pour permettre au wrapper du footer (couleur de fond grise) de prendre toute la largeur de l'écran  */
  margin: 0 auto;
}

section {
  padding: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

a:hover,
button:hover {
  cursor: pointer;
}

.section-title {
  margin: 0;
  font-size: var(--font-size-xl);
}

.section-subtitle {
  font-size: var(--font-size-m);
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  transition: 0.2s ease-out;
}

.card img {
  object-fit: cover;
}

.card:hover {
  transform: scale(1.03);
  filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.3));
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--dark-bg-color);
}

/****** Header (en-tête) ***********/

header {
  display: flex;
  justify-content: space-between;
}

.logo-link {
  height: 79px;
  padding: 30px 0;
}

.logo-img {
  height: 19px;
  max-width: 100%;
}

.navbar-list {
  display: flex;
  gap: 68px;
}

.navbar-link {
  display: flex;
  align-items: end;
  height: 35px;
  font-size: var(--font-size-m);
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: 0.2s ease-in-out;
}

.navbar-link:hover {
  border-top-color: var(--main-color);
  color: var(--main-color);
}

/* Main : contenu principal */

main {
  margin-top: 35px;
  margin-bottom: 35px;
}

/****** Search bar (Barre de recherche) ***********/

.search {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 35px;
  /* pour supprimer le padding appliqué sur les balises "section" */
  padding: 0;
}

.search .section-title {
  margin-bottom: 8px;
}

.search-form {
  display: flex;
  height: 50px;
}

.search-bar {
  display: flex;
}

.search-form input,
.search-form button {
  padding-left: 16px;
  padding-right: 16px;
  font-size: var(--font-size-l);
  font-weight: bold;
}

.search-icon-wrapper {
  /* on ne met pas les border-radius sur le conteneur (.search-form) car en version mobile il va falloir mettre un border radius sur les quatre coins du bouton "search"; */
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: var(--light-bg-color);
  transition: 0.2s ease-out;
}

.search-icon-wrapper:hover {
  cursor: pointer;
  background-color: var(--dark-bg-color);
}

.search-input,
.search-button {
  padding-top: 15px;
  padding-bottom: 15px;
  /* line-height: 1; */
}

.search-input {
  border: 1px solid var(--light-bg-color);
  color: black;
}

.search-button {
  /* en version mobile les quatre coins des boutons auront des border-radius*/
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  background-color: var(--main-color);
  border: none;
}

.search-button:hover {
  background-color: rgba(0, 101, 252, 0.8);
}

.search-button:active {
  background-color: var(--main-color);
  color: var(--light-main-color);
}

.search-button .icon i {
  color: white;
}

.search-button .icon {
  display: none;
}

/* Filtres */

.search-filters {
  display: flex;
  align-items: center;
  gap: 15px;
}

.filters-container {
  display: flex;
  /* align-items: center; */
  gap: 15px;
}

.search-filters h3 {
  font-size: var(--font-size-l);
}

.filter-item {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 4px 19px;
  border: 2px solid var(--dark-bg-color);
  border-radius: 25px;
  background: none;
  transition: 0.2s ease-out;
}

.filter-item:hover {
  background: var(--light-main-color);
}

.filter-item:active {
  border: 2px solid var(--main-color);
}

.filter-icon-wrapper {
  /* définir la font-size sur le wrapper de l'icone font awesome permet de changer la taille de l'icone  */

  font-size: 21px;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-text {
  font-size: var(--font-size-ml);
  font-weight: bold;
}

.search-subtitle span {
  --small-icon-size: 24px;
  /* inline-flex afin que la balise span se comporte comme un élément inline et non un élément block */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--small-icon-size);
  width: var(--small-icon-size);
  border-radius: 50%;
  border: 1px solid var(--dark-bg-color);
  margin-right: 10px;
  font-size: 11px;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  margin-top: 35px;
  margin-bottom: 35px;
  background-color: var(--light-bg-color);
  border-radius: 15px;
}

/****** Hebergements ***********/

section.hebergements {
  width: 65%;
  /* Supprimer padding-right pour tenir compte du gap appliqué sur les cards */
  padding-right: 0;
}

.hebergements-cards {
  display: flex;
  /* Sinon toutes les cards seront alignées sur une ligne horizontale */
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px 0;
}

.hebergements-cards a {
  /* Tenir compte de la taille du gap */
  width: calc((100% / 3) - 30px);
}

.hebergements-cards .card {
  height: 100%;
}

.hebergements-cards img {
  width: 100%;
  height: 124px;
  /* pas nécessaire de mettre object-fit: cover car déjà défini par la règle .card img -  ligne 77 */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
  padding: 4px 10px 10px 10px;
}

.hebergements-cards .card-title {
  margin: 4px 0px;
}

.hebergements-cards .card-subtitle {
  margin-bottom: 4px;
}

.hebergements-subtext {
  font-size: var(--font-size-l);
  font-weight: bold;
}

.hebergements-subtext:hover {
  color: var(--main-color);
}

/****** Populaires ***********/

.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activités ***********/

.activites-cards {
  display: flex;
  gap: 35px;
  margin-top: 30px;
}

.activites-cards a {
  /* Chaque card s'élargit (flex-grow 1) et se rétrécit (flex-shrink 1) de façon identique sans tenir compte de sa largeur initiale (flex-basis 0)*/
  flex: 1;
}

.activites-cards .card {
  /* height: 100%; */
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
}

.activites-cards h3 {
  height: 59px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: white;
}

.activites-cards img {
  height: 380px;
  width: 100%;
}

/****** Footer ***********/

.footer-container {
  background-color: var(--light-bg-color);
  width: 100%;
}

footer {
  width: 100%;
  /* background-color: var(--light-bg-color); */
  max-width: 1440px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.footer-menu {
  flex: 1;
}

.footer-menu-title {
  margin-bottom: 16px;
}

.footer-item {
  margin-bottom: 8px;
}

.footer-item a:hover {
  color: var(--main-color);
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  /* Ajuster paddings et margins des sections pour les tablettes */

  section.hebergements {
    margin-bottom: 0;
  }

  section.populaires {
    margin-top: 50px;
  }

  /* Général */

  .hebergements-and-populaires {
    flex-direction: column;
  }

  section.hebergements {
    width: 100%;
  }

  section.populaires {
    width: 100%;
  }

  .populaires-cards {
    /* Aligner les cards horizontalement */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .card-title {
    font-size: 14px;
  }

  .card-subtitle {
    font-size: 13px;
  }

  /* Filtres */

  .search-filters {
    /* Mettre le titre "Filtres" au-dessus des boutons */
    flex-direction: column;
    gap: 20px;
  }

  .filters-title {
    /* Positionner le titre à gauche */
    align-self: start;
  }

  .filter-text {
    font-size: var(--font-size-m);
  }

  /* Activites */

  .activites-cards img {
    height: 200px;
  }

  .activites-cards h3 {
    height: 70px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    padding: 0;
  }

  header {
    flex-direction: column;
  }

  .logo-link {
    /* Positionner le logo au milieu */
    align-self: center;
  }

  .navbar-list {
    /* Supprimer le gap pour avoir une bordure sur toute la largeur de la balise li */
    gap: 0;
  }

  .navbar-item {
    /* Les deux balises li doivent s'étirer sur toute la largeur */
    flex: 1;
  }

  .navbar-link {
    /* Positionner le texte en haut pour créer de l'espace entre le texte et la bordure*/
    align-items: start;
    justify-content: center;
    border-bottom-color: var(--light-bg-color);
  }

  .navbar-link:hover,
  .navbar-link:active {
    border-top-color: transparent;
    border-bottom-color: var(--main-color);
  }

  /* Regrouper tous les ajustements pour les margins et paddings */

  main {
    margin-top: 30px;
    margin-bottom: 35px;
  }

  section:not(.activites),
  .search {
    /* Il n'y a plus de padding dans le conteneur principal */
    padding-left: 20px;
    padding-right: 20px;
  }

  .hebergements-and-populaires section {
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  section.populaires {
    margin-top: 35px;
    margin-bottom: 15px;
  }

  .populaires-cards .card {
    margin-top: 0;
  }

  section.hebergements {
    padding: 20px;
    background-color: white;
  }

  section.activites {
    margin-top: 35px;
  }

  /* Barre de recherche */

  .search-form {
    /* Définir une largeur maximale : 510px pour les écrans mobiles larges et 100% pour les petits écrans mobiles */
    width: min(510px, 100%);
  }

  .search-bar {
    flex: 1;
    border: 1px solid var(--light-bg-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .search-input {
    border: 0;
    /* le champ de saisie doit s'étirer sur toute la largeur du conteneur parent en prenant en compte la taille du bouton */
    width: calc(100% - 50px);
  }

  .search-button {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  .search-button .word {
    display: none;
  }

  .search-button .icon {
    display: block;
  }

  /* Filtres */

  .filters-container {
    flex-wrap: wrap;
    gap: 10px;
  }

  .filter-item {
    gap: 12px;

    /* Enlever 5px (2 éléments sur une ligne) pour tenir compte du gap. La largeur ne sera jamais supérieure à 250px */
    width: min(calc(50% - 5px), 250px);
  }

  .filter-text {
    font-size: var(--font-size-s);
  }

  /* Herbergements, populaires et footer */

  .hebergements-and-populaires {
    /* On inverse l'ordre d'affichage : d'abord les plus populaires et puis les hébergements */
    flex-direction: column-reverse;
  }

  .hebergements-cards,
  .populaires-cards,
  .activites-cards,
  footer {
    flex-direction: column;
    gap: 15px;
  }

  .populaires-title {
    margin-bottom: 15px;
  }

  .hebergements-cards {
    margin-top: 15px;
  }

  .hebergements-cards a,
  .populaires-cards a {
    width: 100%;
  }

  .activites-cards img {
    height: 141px;
  }

  .activites-cards h3 {
    height: 59px;
  }

  footer {
    gap: 50px;
    padding: 30px;
    margin: 0;
  }
}
